@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    padding: 0px 50px;
}

body {
    margin: 0;
    font-family: "Poppins", serif;
}


/* headercss */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.headspace {
    padding: 0px 120px;
}

.Logo {
    height: 30px;
    width: auto;
}

.MenuBar {
    display: none;
}

.Options {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.IndiOptions a {
    text-decoration: none;
    padding-left: 20px;
    color: #3a3a3a;
}

.cartIcon {
    padding-left: 20px;
    color: #3a3a3a;
}

/* bodyCss */

.HalfWidth {
    width: 50%;
}

.Banner {
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

#Tagline {
    font-size: 52px;
    margin-bottom: 3px;
}

.RightDiv {
    display: flex;
    justify-content: center;
}

#PhnImg {
    height: auto;
    width: auto;
}

.PreBookButton {
    font-family: "Poppins", serif;
    background-image: linear-gradient(#E02C6D, #b40f4c);
    color: white;
    margin: 10px 0px;
    padding: 10px, 24px;
    border: none;
    height: 44px;
    width: 196px;
    border-radius: 44px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.PreBookButton:active {
    background-image: linear-gradient(#510722, #ce1b5d);
    color: white;
    padding: 10px, 24px;
    border: none;
    height: 42px;
    width: 194px;
    border-radius: 44px;
    cursor: pointer;
}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 30px;
}

.sponsors img {
    height: 30px;
    width: auto;
    padding: 5px;
    flex-wrap: wrap;
}

.lines {
    width: 90%;
}

/* collections css */
.item {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 470px;
    width: 340px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: -5px -5px 25px rgba(0, 0, 0, 0.072);
    margin: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.CollectionDiv {

    left: auto;
    right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.prodImg {
    justify-content: center;
}

.prodImg img {
    width: 300px;
    height: auto;
    margin: 10px;
}

.prodInfo {
    text-align: left;
    padding-left: 15px;
    font-family: "Poppins", serif;
    font-size: 14px;
}

.prodInfo h1 {
    margin: 5px 2px;
}

.prodInfo h3 {
    margin: 5px 2px;
    font-weight: 500;
}

.prodInfo p {
    margin: 0px 2px;
    font-weight: 500;
}

.prodInfo i {
    color: rgb(255, 68, 0);
}

.CollectionDiv button:hover {
    background-color: #efefef;
}

.CollectionDiv button:active {
    background-color: #dddddd;
}

.prodHead {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 60px 0px 5px;

}

.seeMore {
    padding: 5px 250px;
    display: flex;
    justify-content: right;
}

.seeMore a {
    text-decoration: none;
    font-style: 16px;
    color: #E02C6D;
    font-weight: 800;
}

/* bottomPart */

.BottomMain {
    left: auto;
    right: auto;
    display: flex;
    align-items: center;
}

.BottomMain img {
    margin: 50px 80px;
    height: 270px;
    width: auto;
}

.TextParts h1 {
    font-weight: bold;
    font-size: 38px;
    color: #0A0826;
    padding-right: 20px;
}


.TextParts p {
    font-weight: bold;
    font-size: 16px;
    color: #6C6C6C;
    padding-right: 20px;
}

.TextParts button {
    font-family: "Poppins", serif;
    background-image: linear-gradient(#E02C6D, #b40f4c);
    color: white;
    margin: 10px 0px;
    padding: 10px, 24px;
    border: none;
    height: 44px;
    width: 196px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.TextParts button:active {
    background-image: linear-gradient(#510722, #ce1b5d);
    color: white;
    padding: 10px, 24px;
    border: none;
    height: 42px;
    width: 194px;
    cursor: pointer;
}


/* footerpart */

footer {
    height: 200px;
    width: 100%;
    background-color: #0A0826;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerObjs {
    width: 224px;
    height: 110px;
    text-align: center;
}

.footerObjs h1 {
    font-size: 16px;
}

.footerObjs p {
    font-size: 12px;
}

.socials button {
    background-color: #351670d2;
    border: none;
    color: white;
    padding-right: 7px;
    text-decoration: none;
    display: inline-block;
    height: 24px;
    width: 24px;
    font-size: 12px;
    border-radius: 50%;
}

@media screen and (max-width:1024px) {
    .CollectionDiv {
        grid-template-columns: 1fr 1fr;
        left: auto;
        right: auto;
    }
}

@media screen and (max-width:940px) {


    .BottomMain img {
        margin: 50px 80px;
        height: 200px;
        width: auto;
    }

    .headspace {
        padding: 0px 5px;
    }

    .MenuBar {
        display: block;
    }

    .IndiOptions {
        display: none;
    }

    #PhnImg {
        height: auto;
        width: 350px;
    }

    #Tagline {
        font-size: 38px;
    }

    .sponsors img {
        height: 20px;
        width: auto;
        padding: 5px;
    }

    .sponsors {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:690px) {

    .headspace {
        padding: 0px 5px;
    }

    .MenuBar {
        display: block;
    }

    .IndiOptions {
        display: none;
    }

    #PhnImg {
        height: auto;
        width: 350px;
    }

    #Tagline {
        font-size: 20px;
    }

    .Banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .RightDiv {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .LeftDiv {
        display: flex;
        width: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #UnderText {
        padding: -10px 15px;
        text-align: center;
    }

    .CollectionDiv {
        grid-template-columns: 1fr;
        left: auto;
        right: auto;
    }

    .seeMore {
        padding: 5px 50px;
        display: flex;
        justify-content: right;
    }

    .BottomMain {
        flex-direction: column-reverse;
    }

    .BottomMain img {
        height: 270px;
        width: auto;
    }

    .TextParts {
        margin: 10px 50px;
        text-align: center;
    }
}